* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

:root {
    --primary-background-color: #ffffff;
}

body {
    height: 100vh;
    background-color: var(--primary-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    background-color: var(--primary-background-color);
    padding: 1rem;
    width: 90%;
    min-width: 350px;
    max-width: 500px;
    max-height: 750px;
    border: 2px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.title {
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.container h1 {
    text-align: center;
}

.form {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

.form label {
    width: 100%;
}

.form input[type="text"] {
    border: none;
    outline: none;
    padding: 0.5rem;
    border-bottom: 2px solid black;
    font-size: 1rem;
    width: 100%;

    flex-grow: 1;
}

.form input[type="button"] {
    background-color: #51ff7c;
    padding: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid black;

    transition: background-color 0.5s ease;
    
}

.form input[type="text"]:focus {
    outline: 2px solid black;
}

.form input[type="button"]:hover {
    background-color: #01b306;
}

.container-tarefas {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow-y: auto;
    flex: 1;
}

.tarefas {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.tarefas:nth-child(even) .container-title {
    background-color: #00b7ff18;
}

.tarefas label {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    flex-grow: 1;
}

.checkbox {
    --cor-tema: #000000;

    width: 15px;
    height: 15px;
    border: 2px solid var(--cor-tema);
    box-shadow: 2px 2px 1px var(--cor-tema);
    cursor: pointer;
    caret-color: transparent;

    transition: background-color .5s;
    flex-shrink: 0;
}

.container-title {
    border-bottom: 1px solid black;
    flex-grow: 1;
    padding: 0.3rem;
}

.task-title{
    display: inline-block;
    position: relative;
    padding: .2rem;
    word-wrap: break-word;
    word-break: break-word;
    opacity: 1;
    font-weight: bold;

    transition: opacity .5s ease;
}

.task-title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 55%;
    width: 0;
    height: 1px;
    background: black;
    opacity: 1;
    
    transition: width .5s ease;
}

.tarefas label:has(input:checked) > .container-title .task-title::after {
    width: 100%;
}

.tarefas label:has(input:checked) > .container-title .task-title{
    opacity: 0.5;
}

.tarefas label:has(input[type="checkbox"]:checked) > .checkbox {
    background-color: var(--cor-tema);
}

.tarefas label > input[type="checkbox"] {
    display: none;
}

.buttons {
    display: flex;
    gap: .3rem;
    caret-color: transparent;
}

.buttons > button {
    border: 2px solid black;
    padding: 0.3rem;
    cursor: pointer;

    transition: background-color 0.5s ease;
}

.buttons > button:hover {
    background-color: transparent;
}

.btn-excluir {
    background-color: #ff0000;
}

.btn-editar {
    background-color: #00b7ff;
}

.contador-tarefas {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.1rem;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #000000;
    width: 100%;
    color: white;
    text-align: center;
}

.button-block {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.janela-muda-cor {
    position: fixed;
    background-color: var(--primary-background-color);
    padding: 0.2rem;
    min-width: 150px;
    border: 2px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.janela-muda-cor h2 {
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize;
}

.janela-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 0.5rem; /* Espaço entre os itens */
    place-items: center;
    padding: 0.5rem;
}

.janela-container span:hover {
    background-color: var(--cor-tema);
}

.cor-orange { --cor-tema: #FFA500; }
.cor-purple { --cor-tema: #836FFF; }
.cor-cyan   { --cor-tema: #00BFFF; }
.cor-green  { --cor-tema: #00FA9A; }
.cor-pink   { --cor-tema: #FF69B4; }
.cor-red    { --cor-tema: #FF0000; }
.cor-yellow { --cor-tema: #FFFF00; }
.cor-blue   { --cor-tema: #274aff; }
.cor-black { --cor-tema: #000000; }
